<!-- begin contact -->
{% assign c = "c-contact-form" %}
<div class="{{c}}" id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__form-box">
          <div class="{{c}}__contact-head">
            <h2 class="{{c}}__contact-title">{{ include.form_title }}</h2>
            <p class="{{c}}__contact-description">{{ include.form_description }}</p>
          </div>
          <form class="gform {{c}}__form"
            id="contactForm"
            action="https://script.google.com/macros/s/AKfycbzhzIeOPmTcJIQ-1ngT1Asd4llrK5d19cAHi1di-MSlqkbD8orBtkVqM5oLXoEJ8_UR/exec"
            method="POST">
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="name">Your Name</label>
              <input class="{{c}}__form-input" id="name" type="text" name="name" placeholder='{{ include.name | default: "Your name..." }}' required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="email">Your Email</label>
              <input class="{{c}}__form-input" id="email" type="email" name="email" placeholder='{{ include.email | default: "Your email..." }}'
                required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="email">Phone Number</label>
              <input class="{{c}}__form-input" id="phone" type="tel" name="phone" placeholder='{{ include.phone | default: "Your phone number..." }}'
                required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="topic">Subject</label>
              <input class="{{c}}__form-input" id="subject" type="text" name="subject" placeholder='{{ include.subject | default: "Subject..." }}' required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="message">Your Message</label>
              <textarea class="{{c}}__form-input" id="message" name="message" rows="9" placeholder='{{ include.message | default: "Your message..." }}'
                required></textarea>
            </div>
            <input type="hidden" name="subject" id="email-subject"
              value="Contact Form Submission">
            <div class="{{c}}__form-group {{c}}__form-group--button">
              <div id="success">
                <div id="form_success" style="display:none" class="alert alert-sucess alert--large"><strong>{{ include.sucess | default: "Thanks for contacting us! We will get back to you soon!" }}</strong></div>
                <div id="form_failure" style="display:none" class="alert alert-error alert--large"><strong>{{ include.failure | default: "Sorry, it seems that mail server is not responding. Please try again later!" }}</strong></div>
              </div>
              <div class="d-flex justify-content-center">
                <div id="spinner" style="display:none" class="spinner" role="status">
                  <span class="loader"></span>
                </div>
              </div>
              <button id="sendMessageButton" class="c-button c-button--primary c-button--large" type="submit">{{ include.form_button_text }}</button>
            </div>
            <fieldset class="honeypot-field">
              <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden text field; must be empty to submit the form! Otherwise, we assume the user is a spam bot.</label>
              <input id="honeypot" type="text" name="honeypot" value="" />
            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end contact -->